p{
  color:white;
}
.usersss p {
  color:white;
}
.jumbotron{
  background-color: black;
}
.jumbotron img{
  border-radius: 20px;
}
.jumbotron p {
  color:white;
}
.nav-bar{
  background-color: black;
  padding: 20px;
  color: white;
}
.btn-basic{
  color:white;
  padding: 30px;
}
h2{
  color:white;
}
p{
  color:white;
}
ul li{
  display:inline-block;
  margin:20px;
  color: white;
}
img{
  border-radius: 200px;
}
